
/* ================================================== 
                importing google fonts
==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif ;
}

ul li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

.container{
    margin: 0 200px;
}
h2{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
p{
    font-size: 18px;
    color: #727272;
}


/* ================================================== 
                header css
==================================================== */
.header{
    padding-top: 30px;
    background-color: #FFF4E7;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 36px;
    font-weight: 700;
    color: #131313;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li{
    margin-left: 30px;
}

nav ul li a{
    color: #424242 ;
    font-size: 18px ;
    font-weight: 600;
}

nav ul li a:hover{
    color: #FF900E;
}

.banner{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

h1{
    margin-top: 100px;
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner p{
    margin: 20px 0;
}

.explore-btn{
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 18px;
    background-color: #FF900E;
    color: #ffffff;
}
.explore-btn:hover{
    background-color: #131313;
    color: #ffffff;
}

.header .container>img{
   width: 100%;
   margin: 50px 0;
}

/* ================================================== 
                gallery css
==================================================== */

.gallery{
    margin: 100px 0;
    display: flex;
    align-items: center;
}

.gallery-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.gallery .section-title{
    margin: 30px 0;
    font-size: 45px;
    color: #131313;
}

.gallery .section-title span:first-child{
    color: #727272;
    font-weight: 500;
}
.gallery .section-title span:last-child{
    color: #FF900E;
}
.quick-list{
    margin-left: 50px;
}

/* ================================================== 
                features css
==================================================== */

.features{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 50px;
}
.feature-items, .feature-image{       
    width: 50%;
}
.feature-items h2{
    width: 80%;
    margin: 20px 0 20px;
    padding-left: 30px;
    border-left: 5px solid #FF900E;
}

.feature-image img{
    width: 100%;
}

.feature-items .section-description{
    margin: 30px 0;
    text-decoration-style: 16px;
    color: #727272  ;
}

.feature-item{
    border-radius: 5px;
    margin: 20px 0;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.feature-item h3{
    font-size: 22px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 15px;
}

.feature-image{
    position: relative;
}
#experience{
    position: absolute;
    left: -35px;
    top: 85%;

    width: 40%;
    padding: 40px 30px;
    text-align: center;
    background-color: #FF900E;
    border-radius: 10px;
}

#experience h2, #experience p{
    color: #ffffff;
}

/* ================================================== 
                facts css
==================================================== */
.facts h2{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.facts p{
    width: 50%;
    margin: 20px 0;
}

.facts-items{
    margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.fact-item{
    padding: 30px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 10px;
    transition: all .3s linear;
}
.fact-item:hover{
    transform: scale(1.1);
    background-color: #FF900E;
    color: #f7e6d2;
}
.fact-item:hover.fact-item p{
    color: #f7e6d2;
}
.fact-item img{
    max-width: 100%;
}
.fact-item p{
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.fact-item h3{
    margin: 15px 0;
    font-size: 40px;
}

/* ================================================== 
                sponsor section css
==================================================== */

.sponsors{
    text-align: center;
    margin: 80px 0;
}

.sponsors p{
    width: 50%;
    margin: 20px auto;
}

.sponsor-items{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsor-items a img{
    max-width: 70%;
    filter: grayscale(100%);
}

/* ================================================== 
                contact css
==================================================== */

.contacts{
    width: 75%;
    margin: 80px auto;
}
.form-title{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.form-title h2 span{
    color: #FF900E;
}
.form-title p{
    margin: 30px 0;
}
form{
    text-align: center;
}

form input, form textarea{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}
form input{
    height: 30px;
    border: 2px solid #131313;
    margin: 20px auto;
}

form textarea{
    height: 200px;
    border: 2px solid #131313;
}

.submit-btn{
    cursor: pointer;
    display: inline-block;
    padding: 15px 40px;
    margin-top: 30px;
    font-size: 18px;
    background: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.submit-btn:hover{
    background: #131313;
}

/* ================================================== 
                footer css
==================================================== */
footer{
    text-align: center;
    padding: 30px 0;
    background-color: #f7e6d2;
}